section {
    margin-top: 50px;
    display: flex;
}

.card {
    max-width:360px;
    margin-bottom: 50px;
    border: 2px solid black;
    border-radius: 50px;
    padding: 25px;    
}

h3 {
    margin-bottom: 25px;
    text-align: center;
}

input {
    border-radius: 7px ;
    text-align: center;
    color: black;
    padding: 2px;
}

textarea {
    border-radius: 7px;
    text-align: center;
    padding: 2px;
    border: 2px solid black;
}

button {
    border: 2px solid goldenrod;
    padding: 5px;
    border-radius: 7px;
    color: goldenrod;
    background-color: white;
    cursor: pointer;
}

@media screen and (max-width: 769px)  {
    
    section {
        justify-content: center;
    }
    
}

@media screen and (min-width: 769px) and (max-width: 2561px) {
    
    section {
        margin-left: 100px;
    }

}