.p-main section {
    display: flex;
    column-gap: 20px;
    padding: 15px;
}

.p-main {
    margin-top: 50px;
}

section article {
    flex: 1;
    border: 2px solid black;
    border-radius: 50px;
    padding: 25px; 
    box-sizing: border-box;
    line-height: 25px;
}

section article ul {
    margin-left: 15px
}

section article hr {
    border: none;
    border-top: 1px solid #000;
    margin: 10px 0 25px 0;
}

article h3 {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #000;
}

@media screen and (max-width: 769px) {

    .p-main section {
        flex-direction: column;
        gap: 15px;
    }
    
}